<div class="flex justify-center ">
  <ng-container *ngIf="trainingsSelected && !displayForm"  >
    <table class="table-auto" >
      <thead>
        <tr>
          <th>ID</th>
          <th>Nom</th>
          <th>Description</th>
          <th>Prix</th>
          <th>Quantité</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let training of trainingsSelected"  >
          <td class="p-4">{{training.id}}</td>
          <td class="p-4">{{training.name}}</td>
          <td class="p-4" >{{training.description}}</td>
          <td class="p-4">{{training.price}} €</td>
          <td class="p-4">{{training.quantity}}</td>
          <td class="p-4"><button class="rounded bg-cyan-700 text-white p-2  w-40" (click)="deleteTraining(training)">Supprimer</button></td>

        </tr>
        <tr *ngIf="trainingsSelected.length > 0">
          <td class="p-4">Total</td>
          <td class="p-4"></td>
          <td class="p-4"></td>
          <td class="p-4">{{total}}  €</td>
          <td class="p-4"></td>
          <td class="p-4"><button (click)="showForm()" class="rounded bg-cyan-700 text-white p-2 w-40  ">Valider</button></td>
        </tr>
      </tbody>
    </table>
  </ng-container>
  <ng-container *ngIf="displayForm">
    <app-customer-form/>
  </ng-container>
</div>
